*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-size: 2rem;
  font-family: "Roboto",sans-serif;
}
img{
  display: block;
}
.example{
  margin-top:1rem;
  padding-left: 20px;
  border:1px solid red;
}
.example img{
  width : 25%;
  height : auto;
}
h1{
  text-align: center;
  font-size: 500%;
}
.nowrap{
  white-space: nowrap;
}
.offscreen{
  position: absolute;
  left:-10000px;
}
.hero{
  background-color: rgb(251,210,156);
  background-image: url(./images/download\ \(1\).jpeg);
  background-repeat:repeat;
  background-size: cover;
  background-position: center;
}

