*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background-color: antiquewhite;
}
.container{
  color : black;
  font-family: monospace;
}
h1,h2{
  color:black;
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  background-color: rgba(0,0,0,0.2)
}
p{
  font-size: 1.5em;
  line-height: 2;
  margin:10px;
}
.highlight{
  color :brown;
}
.box-container{
  margin: 50px;
  padding: 20px;
  border : 10px solid brown;
}
.box-container p{
  /* border-top: 5px dashed red;
  border-bottom: 5px dashed green;
  border-left: 5px dashed brown;
  border-right: 5px dashed yellow; */
  border : 15px solid lightblue;
  padding: 20px;
  /* outline: 5px solid black;
  outline-offset: -15px solid red; */
} 
.circle{
  height: 100px;
  width:100px;
  border: 5px solid black;
  margin : 30px auto;
  outline: 5px solid red;
  outline-offset: -20px;
  border-radius: 50px;
}
