.container {
  box-sizing: border-box;
  width: 40%;
  margin: 50px auto;
  padding: 20px;
  font-family: sans-serif;
  border: 1px solid grey;
  border-radius: 30px;
  font-size: 50px;
}
.image {
  margin: 40px;
  width: 100px;
  height: 100px;
  border-radius: 100px;
}
.para {
  font-size: 30px;
  color: grey;
}
.btm-heading {
  font-size: 30px;
  color: dodgerblue;
}
hr {
    margin: 0 -20px;
  }