.container{
    width : 30%;
    border: 1px solid gray;
    margin: 50px auto;
    border-radius: 30px;
    font-family: sans-serif;
    line-height: 1.3;
}
.img{
    width : 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.main{
    margin:30px;
    word-spacing: 2px;
    letter-spacing: 2px;
}
.subscribe{
    text-transform: uppercase;
    color: grey;
    font-weight: 520;
}
.heading{
    font-size: 30px;
    font-weight: 530;
}
.para{
    font-size: 20px;
    color : gray;
}
.btn{
    width: 40%;
    font-size: 20px;
    color:dodgerblue;
    padding:20px;
    margin-top : 20px ;
    border : 1px solid grey;
    border-radius: 10px;
    font-weight: 600;

}